// Import page-specific CSS files here.
@import "home";
@import "show";
@import "products_new";
@import "products_my_stickers";

.btn {
  cursor: pointer;
  border: none;
  font-weight: bold;
  color: white;
  background-color: #62122f;
  padding: 8px 16px;
}

.btn:hover {
  transform: translate(5px, 5px);
}

// .grid-detail{
//   text-decoration-line: none;
// }
