   <div id="header">
      <div class="logo">Stickerland</div>
      <div class="leftMenu">
        <ul>
          <li>
            <a href="Browse" class="dropdown">Pesquisar</a>
          </li>
          <li>
            <a href="Categorias">Categorias</a>
          </li>
          <li>
            <a href="Add_Sticker">Adicionar Sticker</a>
          </li>
        </ul>
      </div>
      <div class="rightMenu">
        <ul>
          <li>
            <a href="User">UserName</a>
          </li>

        </ul>
      </div>
    </div>

 <div id="largeImage" class="d-flex justify-content-between align-items-center">
      <div class="description-box">
        <h4> StickerLand</h4>
        <h1> Troque suas figurinhas com outros colecionadores agora!</h1>
        <div class="button1"> TROCAR</div>
      </div>
      <div class="big">
        <%= image_tag "img_homepage.png", alt: "stickers" %>
      </div>
    </div>

     <section class="fig_pic">
    <div class="container">
      <h2>Figurinhas</h2>
      <div class="grid">
        <div class="grid-product">
        <%= image_tag "neymar.webp", alt: "stickers" %>
          <div class="grid-detail">
            <p></p>
            <p></p>
          </div>
        </div>

        <div class="grid-product">
        <%= image_tag "neymar.webp", alt: "stickers" %>
          <div class="grid-detail">
            <p></p>
            <p></p>
          </div>
        </div>

        <div class="grid-product">
        <%= image_tag "neymar.webp", alt: "stickers" %>
          <div class="grid-detail">
            <p></p>
            <p></p>
          </div>
        </div>
