
      <% @products.each do |product| %>
            <div>
                <p><strong><%= product.category %></strong></p>
                <p><strong>Title: </strong><%= product.title  %></p>
                <p><strong>Sticker: </strong><%= product.sticker  %></p>
                <p><strong>User: </strong><%= product.user_id  %></p>
            </div>
        <% end %>
