<div class="container">
    <p><strong>Category: <%= @product.category %></strong></p>
    <p><strong>Title: <%= @product.title %></strong></p>
    <p><strong>Sticker: <%= @product.sticker %></strong></p>
    <p><strong>IMG</strong></p>
    <small><%= link_to '', products_path(@product), class: "fa-solid fa-trash-can", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this sticker?"} %></small>
</div>
